<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "com.jambots.savehomefront"
        versionCode="1" 
        version   = "1.1">

    <!-- versionCode is optional and Android only -->
<preference name="phonegap-version" value="cli-6.5.0" />
    <name>S.A.V.E. HOME FRONT</name>
    <description>Selfless Service * Advocacy * Vetran * Emergency</description>
<gap:platform name="android" />
<gap:config-file platform="android" parent="/manifest/application">
    <activity android:launchMode="singleInstance" />
</gap:config-file>
<preference name="fullscreen" value="true" />
<preference name="orientation" value="portrait" />
<gap:splash src="res/splash.png" />
<access origin="*" />
<icon src="res/icon.png" />
</widget>